<div>
<form action="/tasks" method="post" enctype="multipart/form-deta">
<div>
<div>
<h3>タイトル</h3>
<input type="text" name="title" placeholder="タイトル" class="title"><br>
<input type="text" name="due_date" placeholder="日付"><br>
<input type="textarea" name="sentence" placeholder="投稿文" style="width:200px; height:100px;" cols="40" rows="8"><br>
<input type="file" name="content" placeholder="ファイル選択">
</div>
<div>
<input type="submit" value="投稿">
</div>
</div>
</form>
</div>